[mysqld]
# aliyun buffer pool: https://help.aliyun.com/document_detail/162326.html?utm_content=g_1000230851&spm=5176.20966629.toubu.3.f2991ddcpxxvD1#title-rey-j7j-4dt
innodb_buffer_pool_size=128M

# require port
# Global_Buffer = innodb_buffer_pool_size = PhysicalMemory *3/4
# max_connections = (PhysicalMemory  - Global_Buffer) / single_thread_memory
max_connections=167

# if memory less than 8Gi, disable performance_schema
performance_schema=OFF

# alias replica_exec_mode. Aliyun slave_exec_mode=STRICT
slave_exec_mode=IDEMPOTENT

# gtid
gtid_mode=ON
enforce_gtid_consistency=ON

#server & instances
thread_stack=262144
thread_cache_size=60
# ulimit -n
open_files_limit=1048576
local_infile=ON
persisted_globals_load=OFF
sql_mode=NO_ENGINE_SUBSTITUTION
#Default 4000
table_open_cache=4000

# under high number thread (such as 128 threads), this value will cause sysbench fails
# if so, change it to 100000 or higher.
max_prepared_stmt_count=16382


performance_schema_digests_size=10000
performance_schema_events_stages_history_long_size=10000
performance_schema_events_transactions_history_long_size=10000
read_buffer_size=262144
read_rnd_buffer_size=524288
join_buffer_size=262144
sort_buffer_size=262144

#default_authentication_plugin=mysql_native_password    #From mysql8.0.23 is deprecated.
authentication_policy=mysql_native_password,
back_log=5285
host_cache_size=867
connect_timeout=10

# character-sets-dir=/usr/share/mysql-8.0/charsets

port=3306
mysqlx-port=33060
mysqlx=0

datadir=/var/lib/mysql/data
log_error=/var/lib/mysql/log/mysqld-error.log
slow_query_log_file=/var/lib/mysql/log/mysqld-slowquery.log
general_log_file=/var/lib/mysql/log/mysqld.log


log_statements_unsafe_for_binlog=OFF
log_error_verbosity=2
log_output=FILE

#innodb
innodb_doublewrite_batch_size=16
innodb_doublewrite_pages=32
innodb_flush_method=O_DIRECT
innodb_io_capacity=200
innodb_io_capacity_max=2000
innodb_log_buffer_size=8388608
#innodb_log_file_size and innodb_log_files_in_group are deprecated in MySQL 8.0.30. These variables are superseded by innodb_redo_log_capacity.
#innodb_log_file_size=134217728
#innodb_log_files_in_group=2
innodb_redo_log_capacity=104857600
innodb_open_files=4000
innodb_purge_threads=1
innodb_read_io_threads=4
# innodb_print_all_deadlocks=ON    # AWS not set
key_buffer_size=16777216

# binlog
# master_info_repository=TABLE
# From mysql8.0.23 is deprecated.
binlog_cache_size=32768
# AWS binlog_format=MIXED, Aliyun is ROW
binlog_format=MIXED
binlog_row_image=FULL
# Aliyun AWS binlog_order_commits=ON
binlog_order_commits=ON
log-bin=/var/lib/mysql/binlog/mysql-bin
log_bin_index=/var/lib/mysql/binlog/mysql-bin.index
binlog_expire_logs_seconds=604800
max_binlog_size=134217728
log_replica_updates=1
# binlog_rows_query_log_events=ON #AWS not set
# binlog_transaction_dependency_tracking=WRITESET    #Default Commit Order, Aws not set

# replay log
# relay_log_info_repository=TABLE
# From mysql8.0.23 is deprecated.
relay_log_recovery=ON
relay_log=relay-bin
relay_log_index=relay-bin.index

# audit log
loose_audit_log_handler=FILE # FILE, SYSLOG
loose_audit_log_file=/var/lib/mysql/auditlog/audit.log
loose_audit_log_buffer_size=1Mb
loose_audit_log_policy=ALL # ALL, LOGINS, QUERIES, NONE
loose_audit_log_strategy=ASYNCHRONOUS
loose_audit_log_rotate_on_size=10485760
loose_audit_log_rotations=5

# semi sync, it works
# loose_rpl-semi-sync-source-enabled = 1
# loose_rpl_semi_sync_source_timeout = 0
# loose_rpl-semi-sync-replica-enabled = 1

pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock

## smartengine base config
#default_storage_engine=smartengine
default_tmp_storage_engine=innodb

# log_error_verbosity=3
# binlog_format=ROW

# set utf8 encoding
collation_server = utf8mb4_unicode_520_ci
character_set_server = utf8mb4

[mysql]
default-character-set=utf8mb4

[client]
port=3306
socket=/var/run/mysqld/mysqld.sock
default-character-set=utf8mb4bash-4.4
